body {
 font-family: Arial, sans-serif;
 margin: 0;
 padding: 0;
}

header {
 background-color: #4CAF50;
 color: white;
 text-align: center;
 padding: 10px;
}

.lamp {
 margin: 10px;
 text-align: center;
}

.toggle-switch {
 display: none;
}

.toggle-switch + label {
 background-color: #ccc;
 border-radius: 34px;
 cursor: pointer;
 display: inline-block;
 height: 34px;
 padding: 0;
 position: relative;
 width: 68px;
}

.toggle-switch + label:before,
.toggle-switch + label:after {
 content: "";
 display: block;
 position: absolute;
}

.toggle-switch + label:before {
 background-color: #fff;
 border-radius: 50%;
 height: 30px;
 left: 4px;
 top: 4px;
 transition: all 0.2s ease;
 width: 30px;
}

.toggle-switch + label:after {
 background-color: #f00;
 border-radius: 50%;
 box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
 height: 24px;
 left: 6px;
 top: 6px;
 transform: translateX(28px);
 transition: all 0.2s ease;
 width: 24px;
}

.toggle-switch:checked + label:before {
 transform: translateX(28px);
}

.toggle-switch:checked + label:after {
 background-color: #35e739;
 transform: translateX(0);
}
